<html>
<head>
    <meta name ="viewport" content="width-device-width,initial-scale=1">
        <title>
        MyProject
    </title>
    <link rel="stylesheet"type ="text/css" href ="../public/css/bootstrap.css"> 

    
</head>
<body>
<div class="container"> 
     
        <div class="col-md-3">
            <h1 style="background-color: indianred;margin:40px; padding: 40px;">hello</h1>
        </div>
        <div class="col-md-3">
            <h1 style="background-color: indianred; margin:40px; padding:40px;">welcome</h1>
        </div>
            
    
</div>
</body>
<script src="../public/js/bootstrap.js"></script>
<script src="../public/jsbootstrap.js.min"></script>
</html>